<header class="header">
  <nav class="nav">
    <ul class="header_menu">
      <li class="nav-link">〇〇さん</li>
      <li class="header_menu_title"><%= link_to "kanban", root_path, class: "nav-link" %></li>
      <li>
        <ul class="header_menu_inner">
          <li>
            <%= link_to "#", class: "nav-link" do %>
              <span class="mr-1">リストを作成</span>
              <i class="fas fa-edit"></i>
            <% end %>
          </li>
          <li><%= link_to "サインアウト", "#", class: "nav-link" %></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
